.questionform-container {
  width: 20%;
  min-width: fit-content;
  margin-left: 1%;
  margin-top: 1%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: lightskyblue;
}

.questionform-container-text {
  font-size: larger;
  font-weight: bolder;
}

.questionform-container-anwser {
  font-size: larger;
  font-weight: 600;
  font-style: italic;
}

.questionform-container > form {
  display: flex;
  flex-direction: row;
}

.questionform-container > form > Button {
  margin-left: 2%;
}
