.exampage-container {
  height: 100%;
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

.exampage-container > Button {
  width: fit-content;
  width: 5%;
  margin-left: 3%;
  margin-top: 20px;
}
